body {
    background-image: linear-gradient(to right, pink, lavender);
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

div {
    /* min-width: 100%; */
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 2%;
    margin: 5%;
    box-shadow: 10px 10px 0px rgb(0 0 0 / 0.1);
}

div:hover {
    background-color: cyan;
    opacity: 0.5;
    transition: 0.5s;
}

h1 {
    font-size: 3em;
    margin: 0.25em 0;
    text-shadow: 5px 5px 0px white;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 2em;
    margin: 0.25em 0;
}

p {
    font-size: 1em;
    color: black;
}